<h1>Mario's Speciality Foods</h1>

<h3> New Products </h3>

<ul>
<% @top.each do |t| %>
  <li> <%= link_to t.name, product_path(t)%> </li>
<% end %>
</ul>

<h3> American Made Products </h3>
<ul>
  <% if @american_made.any? %>
    <% @american_made.each do |a| %>
      <li> <%= link_to a.name, product_path(a)%> </li>
    <% end %>
  <% else %>
    <p>There are no American made products yet</p>
  <% end %>
</ul>

<p><%= link_to "Add new product", new_product_path %></p>
<p><%= link_to "View all Products", all_products_path %></p>
